.form-container__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}


@media screen and (max-width: 740px) {
    .form-container__text {
        margin: 0 auto 20px;
        width: 100%;
        max-width: calc(100% - 40px);
        font-size: 16px;
        line-height: 20px;
    }

    .form-container__text:last-child {
        margin-bottom: 0;
    }
}
