.form-container__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 740px) {
  .form-container__text {
    max-width: calc(100% - 40px);
    margin: 12px auto 0 auto;
    font-size: 16px;
    line-height: 20px;
  }
}