.form-container__chosen {
    width: 100%;
    padding-bottom: 8px;
    position: relative;
}

.form-container__chosen::after {
    content: '';
    width: 100%;
    border-bottom: 1px solid #EBE9ED;
    position: absolute;
    bottom: 0;
}
