.main__title {
    margin: 0 0 40px 40px;
    font-size: 96px;
    line-height: 96px;
    font-weight: 500;
    letter-spacing: -0.02em;
}

@media screen and (max-width: 1050px) {
    .main__title {
        margin-left: 0;
    }
}

@media screen and (max-width: 740px) {
    .main__title {
        display: none;
    }
}
