.main__title {
    margin: 0 0 40px;
    font-size: 96px;
    line-height: 1;
    font-weight: 500;
}

@media screen and (max-width: 740px) {
    .main__title {
        max-width: calc(100% - 40px);
        margin: 20px auto 40px;
        font-size: 64px;
        line-height: 1;
    }
}

@media screen and (max-width: 450px) {
    .main__title {
        font-size: 44px;
    }
}
