.main__title {
    margin: 0 0 40px;
    font-size: 96px;
    line-height: 96px;
    font-weight: 500;
    letter-spacing: -0.02em;
}

@media screen and (max-width: 740px) {
    .main__title {
        max-width: calc(100% - 40px);
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        font-size: 64px;
    }
}

@media screen and (max-width: 450px) {
    .main__title {
        font-size: 44px;
        line-height: 44px;
    }
}
