.header__menu-item {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "TT Firs Neue";
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #3B3748;
}

.header__menu-item:not(:last-child) {
    margin-right: 40px;
}

@media screen and (max-width: 1280px) {
    .header__menu-item:not(:last-child) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1124px) {
    .header__menu-item {
        font-size: 16px;
        line-height: 20px;
    }
}