.main__category {
    grid-area: main__category;
    max-width: 306px;
    margin: 0;
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: -0.01em;
}

@media screen and (max-width: 450px) {
    .main__category {
        font-size: 24px;
        line-height: 28px;
    }
}
