.form-container_color_white {
    background: #FCFAF7;
    color: black;
    padding: 10px 68px;
}

@media screen and (max-width: 960px) {
    .form-container_color_white {
      padding-left: 46px;
      padding-right: 46px;
    }
}