.header__logo {
    background-image: url(../../../images/hedonism.svg);
    width: 60px;
    height: 44px;
    margin: 22px 60px 22px 40px;
}

@media screen and (max-width: 1280px) {
    .header__logo {
        margin-right: 30px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 1080px) {
    .header__logo {
        margin-right: 15px;
    }
}

@media screen and (max-width: 600px) {
    .header__logo {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}