.header__like {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/like_icon.svg);
    width: 24px;
    height: 24px;
    margin-right: 8px;
    opacity: 1;
    transition: 0.4s linear;
}

.header__like:hover {
    opacity: .7;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .header__like {
        background-image: url(../../../images/like-min.svg);
        width: 20px;
        height: 20px;
        margin-right: 4px;
    }
}
