.form-container__btn_type_cancel {
    background: #FCFAF7;
    color: black;
    padding: 10px 0;
}

.form-container__btn_type_cancel:hover {
    background-color: #FAFAFA;
    border: 2px solid #5100B8;
    color: #5100B8;
}
