.form-container__btn_type_next {
    background: #7100FF;
    color: #FCFAF7;
    border: none;
    padding: 12px 76px;
}

@media screen and (max-width: 960px) {
  .form-container__btn_type_next {
    padding-left: 54px;
    padding-right: 54px;
    }
}