.main__subtitle {
    font-size: 48px;
    line-height: 52px;
    font-weight: 500;
}

@media screen and (max-width: 740px) {
    .main__subtitle {
        max-width: 383px;
        margin: 40px auto 20px;
    }
}

@media screen and (max-width: 450px) {
    .main__subtitle {
        max-width: 320px;
        font-size: 32px;
        line-height: 36px;
    }
}
