.header__button {
    width: 153px;
    height: 48px;
    padding: 12px 24px;
}


@media screen and (max-width: 1024px) {
    .header__button {
        display: none;
    }
}

.header__burger-menu {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header__burger-menu {
        display: block;
        position: absolute;
        content: '';
        background-image: url(../../../images/burger-menu.svg);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
        right: 4px;
        opacity: 1;
        transition: 0.4s linear;
        cursor: pointer;
    }

    .header__burger-menu:hover {
        opacity: 0.7;
    }
}
