.header__button {
    width: 153px;
<<<<<<< HEAD
    height: 48px;
=======
    padding: 12px 24px;
    opacity: 1;
    transition: 0.4s linear;
>>>>>>> 96e9845305ab32e1edadcc671f00e3ba66a7735b
}


@media screen and (max-width: 1024px) {
    .header__button {
        border-radius: 0;
        width: 20px;
        height: 20px;
        background-image: url(../../../images/burger-menu.svg);
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
}