.footer__icon {
    position: absolute;
    top: 0;
    right: -28px;
    background-image: url(../../../images/footer_exit.svg);
    background-repeat: no-repeat;
    background-position: right;
    width: 22px;
    height: 21px;
}
