.form-container__text-input {
    border: none;
    width: 100%;
    padding: 12px 24px;
    font-size: 18px;
    line-height: 1.33;
    outline: none;
}

@media screen and (max-width: 600px) {
    .form-container__text-input {
        font-size: 16px;
        line-height: 20px;
    }
}
