.form-container__text-input {
    width: 100%;
    padding: 10px 24px;
    font-size: 18px;
    line-height: 1.33;
    outline: none;
    box-sizing: border-box;

    border: 2px solid #96949E;
    border-radius: 26px;
    text-align: start;
}

@media screen and (max-width: 450px) {
    .form-container__text-input {
        font-size: 16px;
        line-height: 20px;
    }
}

.form-container__text-input:focus {
    border: 2px solid #7100FF;
}
