.footer__heading {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-transform: lowercase;
    color: #3b3748;
    font-style: normal;
    font-weight: 500;
    padding: 0;
    margin: 0px 0px 20px 0px;
}
