.form-container__options {
    margin: 20px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding-left: 30px;
}

@media screen and (max-width: 450px) {
    .form-container__options {
        font-size: 16px;
        line-height: 20px;
    }
}
