.button {
    border: none;
    border-radius: 26px;
    background: #7100FF;
    font-family: "TT Firs Neue";
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FCFAF7;
    opacity: 1;
    transition: 0.4s linear;
}

.button:hover {
    cursor: pointer;
    opacity: .7;
}