.button {
    border: none;
    border-radius: 26px;
    background: #7100FF;
    font-family: "TT Firs Neue", "Arial", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FCFAF7;
<<<<<<< HEAD
    opacity: 1;
    transition: 0.4s linear;
}

.button:hover {
    cursor: pointer;
    opacity: .7;
=======
    text-align: center;
    font-style: normal;
>>>>>>> 96e9845305ab32e1edadcc671f00e3ba66a7735b
}