.form-container__label_type_radio {
    padding: 10px 24px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid #3B3748;
    border-radius: 26px;
    text-align: left;
}

.form-container__label_type_radio::after {
    content: '';
    background-image: url(../../../../images/check_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 16.4px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 24px;
    z-index: 2;

}
